div#src
{
	margin-bottom:20px;
}

span#from
{
	font-size:small;
}

span#to
{
	font-size:small;
}

div#src_date
{
	padding-right:5px;
}

div#src_time
{
	padding-left:5px;
}

div#dst_text
{
	text-align:center;
}

span#dst_date_text
{
	font-size:x-large;
	margin-right:20px;
}

span#dst_time_text
{
	font-size:x-large;
}
