/*
 * Copyright 2013 Masashi Haraki (masa.haraki@gmail.com)
 */

h1#head_title
{
	font-size:large;
	margin-right:0px;
	margin-left:0px;
}

span#mash
{
	color:lightseagreen;
}

div#src
{
	margin-bottom:20px;
}

div#dst
{
	margin-bottom:20px;
}

span#msg_from
{
	font-size:small;
}

span#msg_to
{
	font-size:small;
}

div#src_date_block
{
	padding-right:5px;
}

div#src_time_block
{
	padding-left:5px;
}

div#dst_text
{
	text-align:center;
}

span#dst_date_text
{
	font-size:x-large;
	margin-right:20px;
}

span#dst_time_text
{
	font-size:x-large;
}
